@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 35px;
}

.aboutSection {
  padding: 20px;
}

.aboutDivSection {
  margin: 0px 8% 0 8%;
  border-radius: 15px;
  background: rgba(12, 12, 12, 0.6);
}

.aboutList{
  padding: 10px;
}

.points{
  padding: 20px;
  line-height: 30px;
  font-weight: 300;
}

.points li{
  list-style-type:circle;
}