@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
  margin: 0 10%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.menu{
  display: flex;
}

.menuItems{
  display: flex;
  gap: 45px;
  list-style: none;
}
 
.menuItems a{
  color: var(--color-text);
  text-decoration: none;
  line-height: normal;
  font-weight: 500;
  font-size: 18px;
}