@import '../../vars.css';

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px ;
  background-color: #19376D;
  padding: 20px 20% 0 20%;
  color: var(--color-text);
}

.content{
  letter-spacing: 1px;
}

.contactInfo{
  display: flex;
  flex-direction: column;
}

.contactInfo a{
  text-decoration: none;
  color: var(--color-text);
  line-height: 25px;
  letter-spacing: 1px;
}