@import '../../vars.css';

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px ;
  background-color: #19376D;
  padding: 30px 20% 30px 20%;
  color: var(--color-text);
}

.content{
  letter-spacing: 1px;
}

.contactInfo{
  display: flex;
  flex-direction: column;
}

.contactInfo a{
  text-decoration: none;
  color: var(--color-text);
  line-height: 40px;
  letter-spacing: 1px;
}


.imgStyles{
  width: 25px;
  height: 25px;
}

.contactInfoDiv{
  align-items: center;
  display: flex;
  gap: 10px;
}