@import "../../vars.css";

.container {
  color: var(--color-text);
  margin: 0 8% 0 8%;
  padding-top: 50px;
}

.expItems {
  padding: 20px 40px 20px 30px;
}

.expPoints {
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  line-height: 20px;
}

.expRowDiv {
  border-radius: 10px;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  margin-bottom: 20px;
  padding: 20px;
  }
